#nav {
  background-color: #3a3a3f;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  width: 250px;
  z-index: 1;

  ul {
    padding: 10px 0;
    margin: 0 0 20px;
    font-size: 16px;
    font-size: 1.6rem;

    li {
      margin: 0;
      padding: 10px 0;
      list-style: none;

      i {
        padding: 0 20px;
        color: $grey-color-light;
        font-size: 14px;
        font-size: 1.4rem;
      }

      a {
        color: $grey-color-light;
        font-family: $header-font-family;
        font-weight: 700;
        border-bottom: none;
        font-size: 12px;
        font-size: 1.2rem;
        transition: all 0.5s;

        &:hover {
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}

.toggle-button {
  top: 15px;
  left: 15px;
  z-index: 1080;
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  background: #333;
  padding-top: 8px;
  cursor: pointer;
  margin: 0;
  padding: 5px 0 0;
  outline: none;
  border: none;

  .bar {
    height: 5px;
    width: 28px;
    float: left;
    display: block;
    margin: 0 6px 5px;
    background: #fff;
  }
}